body {
 background-color: black;
 color: #FFFFFF;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

g {
 font-size:16px;
 font-weight: bold;
}

f {
 font-size:22px;
 font-weight: bold;
}
